[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-heroku = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-cors = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
